# Env Files
.env
.env.*

# Python
.venv
__pycache__

# Backend
*/backend/modpacks.db
*/backend/data/

# Frontend
frontend/node_modules/
frontend/.env.local

# Satisfactory
satisfactory/satisfactory-server
