# Env Files
.env
.env.*

# Spotify Archiver scheduler runtime data
spotify-archiver/spotify-archiver-scheduler/data/
spotify-archiver/spotify-archiver-scheduler/exports/

# Spotify token cache (any subfolder)
.spotify_token_cache/

# Python
.venv
__pycache__

# Backend
*/backend/modpacks.db
*/backend/data/

# Frontend
frontend/node_modules/
frontend/.env.local

# Satisfactory
satisfactory/satisfactory-server
